<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creme 11</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <link rel="icon" href="creme-logo.png">
</head>
<body class = "body">
    <!-- Latest Video End -->
    <header class = "header">
        <img src = "{{url_for('static', filename = 'img/1.gif')}}" alt = "Creme logo" width = "75" height = "60">
        <h1>Creme 11</h1>
    </header>

    <pre class = "allroundstats">{{content3}}</pre>

    
</body>
</html>